$theme-colors: (
        "primary": #3C8C65
);

$custom-file-text: (
        en: "Browse",
        es: "Elegir"
);

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.min.css";
